* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	line-height: 2;
	outline: 3px solid #222;
	background-color: #B1C1FC;
}
body {
	
}
.slogan {
	outline: 3px solid #222;
	width: 50%;
	float: left;
	text-align: center;
	font-size: 1.8em;
	font-style: italic;
	padding: 1em 0;
	margin: 0 2 em;
	background-color: #D4FC7C;
}

ul {
	list-style: none;
	float: left;
	width: 50%;
	padding: 1em 0;
	text-align: center;
	font-size: 1.5em;
}
li {
	text-decoration: none;
	display: inline-block;
	padding: 40px;
	margin: 0 2em;
	outline: 3px solid #222;
	background-color: #D4FC7C;
}

.hero {
	clear:both;
	text-align: center;
	width: 100%;
	
}
nav {
	display: block;
	font-size: 2em;
	text-align: center;
}
nav a {
	text-decoration: none;
	color: #000000;
	padding: 60px;
	margin: 1.5em;
	display: inline-block;
}
body {
	font-size: 16px;
}
div {
  width: 800px;
  clear: both;
  margin: 0 auto;
}
h2 {
	font-size: 3em;
	text-align: center;
}
.smoothie img {
	float: left;
	width: 40%;
	margin: 0;
	padding: 0;
}
.smoothie ul {
	float: right;
	width: 55%;
}
.smoothie li {
	padding: 40px;
}
.froyo ul {
	float:left;
	width: 20%;
	padding: 1em;
}
.froyo li {
	padding: 50px;
}

.froyo img {
	float: right;
	width: 400px;
	margin: 0;
	padding: 0;
}

footer {
	clear: both;
	text-align: right;
	font-size: 3em;
}
