* {
	margin: 0;
	padding: 0;
	border: 1px solid red;
}

h1 {
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	line-height: 2;
	outline: 3px solid #222;
}
.slogan {
	outline: 3px solid #222;
	width: 50%;
	float:left;
	height: 6em;
	text-align: center;
	font-size: 1.8em;
	font-style: italic;
}
ul {
	list-style: none;
	float: left;
	height: 6em;
}
li {
	text-decoration: none;
	display: inline-block;
	padding: 40px;
	margin: 1.8em;
}
#hero {
	clear:both;
	width: 960px;
	border-radius: 0;
	border: none;
	margin: 0;
}
nav {
	display: block;
}
nav a {
	text-decoration: none;
	color: #000000;
	padding: 60px;
	margin: 1.5em;
	display: inline-block;
}
body {
	font-size: 2em;
}
.boxes {
	float: left;
	outline: 3px solid #222;
	width: 45%;
	margin: 0 auto;
}

.image_left {
	float: left;
}
.image_right {
	float: right;
}
footer {
	text-align: left;
}
.clearfix:after {
 display: block;
 content: " ";
 clear: both;
 visibility: hidden;
 height: 0;
 font-size: 0;
}
