img {
	background-size: 1040px;
}
h1	{
	font-size: 5em;
	font-family: 'Playfair Display', serif;
	font-style: italic;
}
#hero {
	width: 100%;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
body {
	background-color: #FFF188;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
}

h1, p {
	color: #481FE5;
	}

#slogan {
	text-align: center;	
}
nav {
	padding: 0 50px;	
}
nav a {
	text-decoration: none;
	color: #000000;
	padding: 80px;
	margin: 1.8em;
	display: inline-block;
}
div {

}

.column {
	float: left;
	width: 28%;
	height: 400px;
	padding: 2%;
	margin: 0 10px;
}

footer {
	clear:both;
	text-align: left;
	
}
