div {
}
div img {
	/*margin: 0 60px 0 0;
	padding: 0 0 0 0;
	border: 0;*/
	width: 100%;
}
span 
	{color: rgba(255,255, 255, .8)
}

h1 {
	font-size: 4em;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	/*text-align: center;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	border: 2px solid #000;*/
	color:rgba(255,255,255 .8);
	position: absolute;
	letter-spacing: -1px;
	padding: 0 3em;
}
nav {
	text-align: center;
	margin: auto;
	padding: .5em 0 .5em 0;
	width: 70em;
	position: absolute;
}
nav a {
	padding: 0 3em 0 3em;
	font-size: 1em;
	text-decoration: none;
	color:rgba(255,255,255 .8);
	font-weight: bold;
}
h2 {
	font-size: 1.5em;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	text-align: center;
	display: block;
}
h3 {
	font-size: 2em;
	text-align: center;
}

body {
	font-size: 16px;
	margin: 0;
	padding: 0;
}
ul {
	float: left;
	width: 24%;
	padding: 0 .8em 0 .8em;
	margin: 1em 1em;
	outline: solid black;
}
li {
	font-style: italic;
	margin: auto;
}
section {
	font-size: 1em;
}
.hero {
	width: 100%;
	position: relative;
}
.wrap {
	width: 100%;
	float: left;
	padding: 6.2em 0;
}

.wrap img {
	float: left;
	width: 100%;
	margin: auto;
	padding: 0;
	display: block;
}

.column {
	float: left;
	font-size: 1em;
	padding: 0 1em 0 1em;
	width: 28%;
	margin: 0;
}

.column a {
	text-decoration: none;
	font-size: 1em;
	color: black;
	float: left;
	display: block;
}
.column p {
	font-size: .8em;
	text-align: justify;
	float: left;
	width: 80%;
	display: block;
}

/*#books {
	text-align: center;
}
#recipes {
	text-align: center;
}
#funstuff {
	text-align: center;*/
}
#funstuff a {
	color: red;
}
/*footer {
	margin: 10em 0 0 0;
	font-size: 3em;
}*/

.clearfix:after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}


@media only screen and (min-width: 800px) and (max-width: 999px) {
	ul .column a .column p {
		float: none;
	}
	body {
		font-size: .8em;
	}

}
@media only screen and (min-width: 400px) and (max-width: 799px) {
body {
		font-size: .5em;
	}
}