div {
}
div img {
	/*margin: 0 60px 0 0;
	padding: 0 0 0 0;
	border: 0;*/
	width: 100%;
	position: relative;
	z-index: -1;
	top: 200px; 
  	left: 0; 
}
span 
	{color: rgba(255,255, 255, .8)
}
.hero {
	width: 100%;
}

h1 {
	font-size: 12em;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	/*text-align: center;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	border: 2px solid #000;*/
	color:rgba(255,255,255 .8);
	position: absolute;
	letter-spacing: -1px;
	padding: 200px 200px;
}

h2 {
	font-size: 1em;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	text-align: center;
	color: yellow;
}
h3 {
	font-size: 6em;
}

body {
	font-size: 16px;
}
nav {
	text-align: justify;
	margin: 20px 0 20px 0;
	padding: 20px 0 20px 0;
}
nav a {
	padding: 0 200px 0 200px;
	font-size: 3em;
	text-decoration: none;
	color:rgb(255,255,255);
}
.wrap {
	width: 100%;
	float: left;
	padding: 100px 0;
	line-height: 300px;
}
.wrap img {
	float: left;
	width: 100%;
	margin: auto;
	padding: 0;

}
.column {
	float: left;
	font-size: 5em;
	padding: 0 20px 0 20px;
	width: 28%;
	border: solid black;
	margin: 0;
}

.column a {
	text-decoration: none;
	font-size: 1em;
	color: black;
	float: left;
	display: block;
}
.column p {
	font-size: .5em;
	text-align: justify;
	float: left;
}
#books {
	text-align: center;
}
#recipes {
	text-align: justify;
}
#funstuff {
	text-align: justify;
}
#funstuff a {
	color: red;
}
footer {
	margin: 200px 0 0 0;
	font-size: 3em;
}
ul {
	float: left;
	width: 20%;
	padding: 0 50px 0 50px;
	margin: 20px 50px;
	outline: solid black;
}
li {
	font-style: italic;
	margin: auto;
}
section {
	font-size: 3em;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}